In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import re

In [36]:
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 51)

In [23]:
csv_file_list = []
for i in os.listdir():
    if '.csv' in i.lower():
        csv_file_list.append(i)

In [24]:
csv_file_list

['amex_bce_2022.csv',
 'amex_bce_2023.csv',
 'amex_bce_2024_ytd.csv',
 'amex_gold_2022.csv',
 'amex_gold_2023.csv',
 'amex_gold_2024_ytd.csv',
 'Chase_checking_Activity_20240611.CSV',
 'Chase_credit_3326_20220611_20240611.CSV',
 'Chase_credit_4649_20220611_20240611.CSV',
 'Chase_credit_bruce_4434_20220611_20240611.CSV']

In [86]:
def chase_checking_cleaner(frame):
    frame = frame.rename(columns={'Positng Date': 'Date'})
    return frame

In [75]:
def chase_credit_cleaner(frame):
    frame = frame.drop('Post Date',axis=1)
    frame = frame.drop('Memo', axis=1)
    
    frame = frame.rename(columns={'Transaction Date':'Date'})
    frame['Date'] = pd.to_datetime(frame['Date'])
    frame['Amount'] = frame['Amount'] * -1
    return frame

In [83]:
def amex_credit_cleaner(frame):
    frame['Date'] = pd.to_datetime(frame['Date'])
    return frame

In [98]:
csv_file_list[0].split('.')

['amex_bce_2022', 'csv']

In [102]:
df = pd.DataFrame()
for i in csv_file_list:
    if 'amex' in i.lower():
        temp_df = pd.read_csv(i)
        
        temp_df = amex_credit_cleaner(temp_df)

        temp_df['File_name'] = i.split('.')[0]
        
        df = pd.concat([df, temp_df])
        # print('hello')
    elif ('chase' in i.lower()) & ('credit' in i.lower()):
        temp_df = pd.read_csv(i)
       
        # Transform to fit amex transactions
        temp_df = chase_credit_cleaner(temp_df)

        temp_df['File_name'] = i.split('.')[0]
       
        df = pd.concat([df, temp_df])
    elif ('chase' in i.lower()) & ('checking' in i.lower()):
        temp_df = pd.read_csv(i,index_col=False)
        temp_df = chase_checking_cleaner(temp_df)
        temp_df['File_name'] = i.split('.')[0]

        df = pd.concat([df, temp_df])

In [100]:
df

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,Country,Reference,Category,File_name,Details,Posting Date,Type,Balance,Check or Slip #
0,2022-12-29,MOBILE PAYMENT - THANK YOU,BRUCE LOMBARD,-91002.0,-2673.40,MOBILE PAYMENT - THANK YOU,MOBILE PAYMENT - THANK YOU,NaN,NaN,NaN,NaN,'320223630765283073',NaN,amex_bce_2022,NaN,NaN,NaN,NaN,NaN
1,2022-12-21,THE DISNEY BUNDLE CREDIT,BRUCE LOMBARD,-91002.0,-7.00,THE DISNEY BUNDLE CREDIT,THE DISNEY BUNDLE CREDIT,2500 BROADWAY,SANTA MONICA\nCA,90404-3065,UNITED STATES,'320223550614393280',Communications-Cable & Internet Comm,amex_bce_2022,NaN,NaN,NaN,NaN,NaN
2,2022-12-17,1707 S WASHINGTON STNAPERVILLE IL,BRUCE LOMBARD,-91002.0,49.49,00000004401 6303550157\n1707 S WASHINGTON ST 57444092803...,1707 S WASHINGTON STNAPERVILLE IL,12700 NORTHBOROUGH DR,HOUSTON\nTX,77067-2552,UNITED STATES,'320223520535625915',Transportation-Fuel,amex_bce_2022,NaN,NaN,NaN,NaN,NaN
3,2022-12-17,JEWEL OSCO 1111 1111NAPERVILLE IL,BRUCE LOMBARD,-91002.0,35.92,0124137 800-898-4027\nJEWEL OSCO 1111 1111\nNAPERVIL...,JEWEL OSCO 1111 1111NAPERVILLE IL,1227 NAPER BLVD,NAPERVILLE\nIL,60540,UNITED STATES,'320223520526343876',Merchandise & Supplies-Groceries,amex_bce_2022,NaN,NaN,NaN,NaN,NaN
4,2022-12-17,WHOLEFDS NPV 10129 0NAPERVILLE IL,BRUCE LOMBARD,-91002.0,90.91,0C2LHY492MF 6305797700\nWHOLEFDS NPV 10129 000010129\nNA...,WHOLEFDS NPV 10129 0NAPERVILLE IL,2607 WEST 75TH ST,NAPERVILLE\nIL,60540,UNITED STATES,'320223520532548570',Merchandise & Supplies-Groceries,amex_bce_2022,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,2022-06-12,AMZN Mktp US*CH54M2L93,NaN,NaN,51.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
847,2022-06-12,Amazon.com*ZZ5KN1UL3,NaN,NaN,307.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Groceries,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
848,2022-06-11,AMZN Mktp US*E93MN19E3,NaN,NaN,53.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
849,2022-06-11,AMZN Mktp US*EX2KA54K3,NaN,NaN,42.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
850,2022-06-12,Prime Video*UA9GJ0Y73,NaN,NaN,5.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN

In [103]:
df[df.duplicated(keep=False)]

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,Country,Reference,Category,File_name,Details,Posting Date,Type,Balance,Check or Slip #
289,2023-09-05,REDEMPTION CREDIT,NaN,NaN,-39.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fees & Adjustments,Chase_credit_3326_20220611_20240611,NaN,NaN,Adjustment,NaN,NaN
292,2023-09-05,REDEMPTION CREDIT,NaN,NaN,-39.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fees & Adjustments,Chase_credit_3326_20220611_20240611,NaN,NaN,Adjustment,NaN,NaN
293,2023-09-05,REDEMPTION CREDIT,NaN,NaN,-39.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fees & Adjustments,Chase_credit_3326_20220611_20240611,NaN,NaN,Adjustment,NaN,NaN
310,2022-07-14,UBER TRIP,NaN,NaN,39.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_4649_20220611_20240611,NaN,NaN,Sale,NaN,NaN
311,2022-07-14,UBER TRIP,NaN,NaN,39.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_4649_20220611_20240611,NaN,NaN,Sale,NaN,NaN
312,2022-07-14,UBER TRIP,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_4649_20220611_20240611,NaN,NaN,Sale,NaN,NaN
314,2022-07-14,UBER TRIP,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_4649_20220611_20240611,NaN,NaN,Sale,NaN,NaN
233,2023-07-31,PARKINGMETER5 8772427901,NaN,NaN,14.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
234,2023-07-31,PARKINGMETER5 8772427901,NaN,NaN,14.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
235,2023-07-31,PARKINGMETER5 8772427901,NaN,NaN,14.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Sale,NaN,NaN
826,2022-06-20,AMZN Mktp US,NaN,NaN,-19.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Return,NaN,NaN
827,2022-06-20,AMZN Mktp US,NaN,NaN,-19.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Return,NaN,NaN
828,2022-06-20,AMZN Mktp US,NaN,NaN,-19.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_bruce_4434_20220611_20240611,NaN,NaN,Return,NaN,NaN

In [81]:
pd.read_csv('Chase_checking_Activity_20240611.CSV', index_col=False)
# .rename(columns={'Transaction Date':'Date'}

,Details,Posting Date,Description,Amount,Type,Balance,Check or Slip #
0,DEBIT,06/07/2024,Payment to Chase card ending in 3326 06/07,-2000.00,LOAN_PMT,3424.89,NaN
1,DEBIT,06/05/2024,AMERICAN EXPRESS ACH PMT W6670 WEB ID: 2005...,-739.04,ACH_DEBIT,5424.89,NaN
2,CREDIT,06/04/2024,DISCOVER BANK PREARRANGE PPD ID: 4510...,6000.00,ACH_CREDIT,6163.93,NaN
3,DEBIT,06/03/2024,DUPAGE CO TAX DUPAGE CO 3841332 WEB ID: 0000...,-10747.72,ACH_DEBIT,163.93,NaN
4,DEBIT,06/03/2024,AMERICAN EXPRESS ACH PMT M2434 WEB ID: 2005...,-32.70,ACH_DEBIT,10911.65,NaN
...,...,...,...,...,...,...,...
609,DEBIT,06/21/2022,KIDS KAMPUS INC 6305770046 PPD ID: 1470...,-840.00,ACH_DEBIT,25792.99,NaN
610,CREDIT,06/21/2022,VENMO CASHOUT PPD ID: 5264...,200.00,ACH_CREDIT,26632.99,NaN
611,CHECK,06/14/2022,CHECK 1770,-2184.40,CHECK_PAID,26432.99,1770.0
612,DEBIT,06/13/2022,Payment to Chase card ending in 4649 06/13,-972.57,ACCT_XFER,28617.39,NaN
613,DEBIT,06/13/2022,Payment to Chase card ending in 4434 06/13,-700.00,ACCT_XFER,29589.96,NaN

In [41]:
pd.read_csv('amex_bce_2022.csv')

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,Country,Reference,Category
0,12/29/2022,MOBILE PAYMENT - THANK YOU,BRUCE LOMBARD,-91002,-2673.40,MOBILE PAYMENT - THANK YOU,MOBILE PAYMENT - THANK YOU,NaN,NaN,NaN,NaN,'320223630765283073',NaN
1,12/21/2022,THE DISNEY BUNDLE CREDIT,BRUCE LOMBARD,-91002,-7.00,THE DISNEY BUNDLE CREDIT,THE DISNEY BUNDLE CREDIT,2500 BROADWAY,SANTA MONICA\nCA,90404-3065,UNITED STATES,'320223550614393280',Communications-Cable & Internet Comm
2,12/17/2022,1707 S WASHINGTON STNAPERVILLE IL,BRUCE LOMBARD,-91002,49.49,00000004401 6303550157\n1707 S WASHINGTON ST 57444092803...,1707 S WASHINGTON STNAPERVILLE IL,12700 NORTHBOROUGH DR,HOUSTON\nTX,77067-2552,UNITED STATES,'320223520535625915',Transportation-Fuel
3,12/17/2022,JEWEL OSCO 1111 1111NAPERVILLE IL,BRUCE LOMBARD,-91002,35.92,0124137 800-898-4027\nJEWEL OSCO 1111 1111\nNAPERVIL...,JEWEL OSCO 1111 1111NAPERVILLE IL,1227 NAPER BLVD,NAPERVILLE\nIL,60540,UNITED STATES,'320223520526343876',Merchandise & Supplies-Groceries
4,12/17/2022,WHOLEFDS NPV 10129 0NAPERVILLE IL,BRUCE LOMBARD,-91002,90.91,0C2LHY492MF 6305797700\nWHOLEFDS NPV 10129 000010129\nNA...,WHOLEFDS NPV 10129 0NAPERVILLE IL,2607 WEST 75TH ST,NAPERVILLE\nIL,60540,UNITED STATES,'320223520532548570',Merchandise & Supplies-Groceries
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,06/28/2022,JEWEL OSCO 0185 0185NAPERVILLE IL,BRUCE LOMBARD,-91002,44.84,01850094 800-898-4027\nJEWEL OSCO 0185 0185\nNAPERVIL...,JEWEL OSCO 0185 0185NAPERVILLE IL,127 EAST OGDEN AVE,NAPERVILLE\nIL,60563,UNITED STATES,'320221800675261890',Merchandise & Supplies-Groceries
116,06/25/2022,PANERA BREAD CAFE ONAURORA IL,BRUCE LOMBARD,-91002,6.81,753684211 FOOD & NON A\nPANERA BREAD CAFE ONLINE\nAURO...,PANERA BREAD CAFE ONAURORA IL,SUITE A\n740 NORTH ROUTE 59,AURORA\nIL,60504,UNITED STATES,'320221770618116219',Restaurant-Bar & Café
117,06/25/2022,WHOLEFDS NPV 10129 0NAPERVILLE IL,BRUCE LOMBARD,-91002,405.78,03ZAWBY2HSK 6305797700\nWHOLEFDS NPV 10129 000010129\nNA...,WHOLEFDS NPV 10129 0NAPERVILLE IL,2607 WEST 75TH ST,NAPERVILLE\nIL,60540,UNITED STATES,'320221770614197253',Merchandise & Supplies-Groceries
118,06/19/2022,659 S WASHINGTON ST NAPERVILLE IL,BRUCE LOMBARD,-91002,110.07,00000003017 6303696671\n659 S WASHINGTON ST 10008962002\...,659 S WASHINGTON ST NAPERVILLE IL,12700 NORTHBOROUGH DR,HOUSTON\nTX,77067-2552,UNITED STATES,'320221710482252037',Transportation-Fuel
119,06/12/2022,LOWE'S NAPERVILLE IL,BRUCE LOMBARD,-91002,106.67,INV # 19509 630-445-6226\nLOWE'S\nNAPERVILLE\nIL\n630-44...,LOWE'S NAPERVILLE IL,1440 SOUTH RTE 59,NAPERVILLE\nIL,60564,UNITED STATES,'320221640319591889',Merchandise & Supplies-Hardware Supplies

In [42]:
pd.read_csv('Chase_credit_3326_20220611_20240611.CSV')

,Transaction Date,Post Date,Description,Category,Type,Amount,Memo
0,06/09/2024,06/10/2024,AIR TRANSAT S6XJFY,Travel,Sale,-219.83,NaN
1,06/09/2024,06/10/2024,AIR TRANSAT S6XJFY,Travel,Sale,-2956.63,NaN
2,06/08/2024,06/09/2024,COOPERS HAWK NAPERVILLE,Food & Drink,Sale,-7.38,NaN
3,06/07/2024,06/09/2024,GLO NAIL LOUNGE,Personal,Sale,-65.00,NaN
4,06/07/2024,06/09/2024,TST* JOJOS SHAKE BAR - N,Food & Drink,Sale,-7.65,NaN
...,...,...,...,...,...,...,...
658,06/17/2022,06/19/2022,TST* Fiamme - Naperville,Food & Drink,Sale,-110.36,NaN
659,06/17/2022,06/19/2022,WAXING THE CITY,Health & Wellness,Sale,-78.20,NaN
660,06/15/2022,06/15/2022,DD DOORDASH NAFNAFGRI,Food & Drink,Sale,-21.13,NaN
661,06/15/2022,06/15/2022,DD DOORDASH POTBELLYS,Food & Drink,Sale,-23.47,NaN
662,06/11/2022,06/12/2022,worldmarket.com,Home,Sale,-127.49,NaN

In [43]:
pd.read_csv('Chase_checking_Activity_20240611.CSV')

,Details,Posting Date,Description,Amount,Type,Balance,Check or Slip #
DEBIT,06/07/2024,Payment to Chase card ending in 3326 06/07,-2000.00,LOAN_PMT,3424.89,NaN,NaN
DEBIT,06/05/2024,AMERICAN EXPRESS ACH PMT W6670 WEB ID: 2005...,-739.04,ACH_DEBIT,5424.89,NaN,NaN
CREDIT,06/04/2024,DISCOVER BANK PREARRANGE PPD ID: 4510...,6000.00,ACH_CREDIT,6163.93,NaN,NaN
DEBIT,06/03/2024,DUPAGE CO TAX DUPAGE CO 3841332 WEB ID: 0000...,-10747.72,ACH_DEBIT,163.93,NaN,NaN
DEBIT,06/03/2024,AMERICAN EXPRESS ACH PMT M2434 WEB ID: 2005...,-32.70,ACH_DEBIT,10911.65,NaN,NaN
...,...,...,...,...,...,...,...
DEBIT,06/21/2022,KIDS KAMPUS INC 6305770046 PPD ID: 1470...,-840.00,ACH_DEBIT,25792.99,NaN,NaN
CREDIT,06/21/2022,VENMO CASHOUT PPD ID: 5264...,200.00,ACH_CREDIT,26632.99,NaN,NaN
CHECK,06/14/2022,CHECK 1770,-2184.40,CHECK_PAID,26432.99,1770.0,NaN
DEBIT,06/13/2022,Payment to Chase card ending in 4649 06/13,-972.57,ACCT_XFER,28617.39,NaN,NaN
DEBIT,06/13/2022,Payment to Chase card ending in 4434 06/13,-700.00,ACCT_XFER,29589.96,NaN,NaN