In [7]:
from file_combiner import transaction_compiler
import pandas as pd
import numpy as np

In [8]:
df = transaction_compiler()

In [9]:
df

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,...,Memo,bank,account_type,account_number,clean_description,month_name,month,year,month_year,is_recurring
0,2022-12-29,MOBILE PAYMENT - THANK YOU,BRUCE LOMBARD,-91002.0,2673.40,MOBILE PAYMENT - THANK YOU,MOBILE PAYMENT - THANK YOU,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-12-21,THE DISNEY BUNDLE CREDIT,BRUCE LOMBARD,-91002.0,7.00,THE DISNEY BUNDLE CREDIT,THE DISNEY BUNDLE CREDIT,2500 BROADWAY,SANTA MONICA\r\nCA,90404-3065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-17,1707 S WASHINGTON STNAPERVILLE IL,BRUCE LOMBARD,-91002.0,-49.49,00000004401 6303550157\r\n1707 S WASHINGTON ST...,1707 S WASHINGTON STNAPERVILLE IL,12700 NORTHBOROUGH DR,HOUSTON\r\nTX,77067-2552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-12-17,JEWEL OSCO 1111 1111NAPERVILLE IL,BRUCE LOMBARD,-91002.0,-35.92,0124137 800-898-4027\r\nJEWEL OSCO 1111 11...,JEWEL OSCO 1111 1111NAPERVILLE IL,1227 NAPER BLVD,NAPERVILLE\r\nIL,60540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-12-17,WHOLEFDS NPV 10129 0NAPERVILLE IL,BRUCE LOMBARD,-91002.0,-90.91,0C2LHY492MF 6305797700\r\nWHOLEFDS NPV 10129 0...,WHOLEFDS NPV 10129 0NAPERVILLE IL,2607 WEST 75TH ST,NAPERVILLE\r\nIL,60540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6911,2024-06-10,Amazon.com*7V72Y0233 Amzn.com/bill WA,NaN,NaN,-32.33,NaN,NaN,NaN,NaN,NaN,...,24692164161104367248137; 05942; ; ; ;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6912,2024-06-10,Amazon.com*068DE9RS3 Amzn.com/bill WA,NaN,NaN,-22.63,NaN,NaN,NaN,NaN,NaN,...,24692164161104365909656; 05942; ; ; ;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6913,2024-06-10,AMZN Mktp US*RD8OC1F71 Amzn.com/bill WA,NaN,NaN,-34.48,NaN,NaN,NaN,NaN,NaN,...,24692164159102730444338; 05942; ; ; ;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6914,2024-06-10,AMZN Mktp US*VR8MY93T3 Amzn.com/bill WA,NaN,NaN,-40.95,NaN,NaN,NaN,NaN,NaN,...,24692164159102920136157; 05942; ; ; ;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6915,2024-06-11,AMAZON.COM*7C13H8QH3 SEATTLE WA,NaN,NaN,-60.28,NaN,NaN,NaN,NaN,NaN,...,24431064162083318378515; 05942; ; ; ;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN