In [1]:
from file_combiner import transaction_compiler
import pandas as pd
import numpy as np

from mapper import *

from tests import map_test

In [2]:
df = transaction_compiler()

In [12]:
df[df.duplicated(['Date','Description'],keep=False)].sort_values(['Date','Description'])

           Date  ... is_recurring
2851 2022-06-11  ...          NaN
6652 2022-06-11  ...          0.0
2852 2022-06-11  ...          NaN
6651 2022-06-11  ...          0.0
3194 2022-06-11  ...          NaN
...         ...  ...          ...
3199 2024-06-10  ...          0.0
3205 2024-06-10  ...          0.0
6906 2024-06-10  ...          NaN
3196 2024-06-11  ...          0.0
6915 2024-06-11  ...          NaN

[6900 rows x 29 columns]

In [3]:
map_test(df)

                              original_null_count  ...  percent_null_count_difference
Date                                            0  ...                            0.0
Description                                     0  ...                            0.0
Card Member                                  5448  ...                            0.0
Account #                                    5448  ...                            0.0
Amount                                          0  ...                            0.0
Extended Details                             5448  ...                            0.0
Appears On Your Statement As                 5448  ...                            0.0
Address                                      5614  ...                            0.0
City/State                                   5616  ...                            0.0
Zip Code                                     5616  ...                            0.0
Country                                      5612  ...                            0.0
Reference                                    5448  ...                            0.0
Category                                     2036  ...                            0.4
file_name                                       0  ...                            0.0
Details                                      5672  ...                            0.0
Type                                         1976  ...                            0.0
Balance                                      5672  ...                            0.0
Check or Slip #                              6872  ...                            0.0
Transaction                                  6376  ...                            0.0
Memo                                         6376  ...                            0.0
bank                                         3450  ...                            0.0
account_type                                 3450  ...                            0.0
account_number                               3450  ...                            0.0
clean_description                            3450  ...                            0.0
month_name                                   3450  ...                            0.0
month                                        3450  ...                            0.0
year                                         3450  ...                            0.0
month_year                                   3450  ...                            0.0
is_recurring                                 3450  ...                            0.0
retailer                                     6900  ...                            0.2

[30 rows x 3 columns]

In [13]:
df.head(5)

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,...,Memo,bank,account_type,account_number,clean_description,month_name,month,year,month_year,is_recurring
0,2022-12-29,MOBILE PAYMENT - THANK YOU,BRUCE LOMBARD,-91002.0,2673.40,MOBILE PAYMENT - THANK YOU,MOBILE PAYMENT - THANK YOU,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-12-21,THE DISNEY BUNDLE CREDIT,BRUCE LOMBARD,-91002.0,7.00,THE DISNEY BUNDLE CREDIT,THE DISNEY BUNDLE CREDIT,2500 BROADWAY,SANTA MONICA\r\nCA,90404-3065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-17,1707 S WASHINGTON STNAPERVILLE IL,BRUCE LOMBARD,-91002.0,-49.49,00000004401 6303550157\r\n1707 S WASHINGTON ST...,1707 S WASHINGTON STNAPERVILLE IL,12700 NORTHBOROUGH DR,HOUSTON\r\nTX,77067-2552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-12-17,JEWEL OSCO 1111 1111NAPERVILLE IL,BRUCE LOMBARD,-91002.0,-35.92,0124137 800-898-4027\r\nJEWEL OSCO 1111 11...,JEWEL OSCO 1111 1111NAPERVILLE IL,1227 NAPER BLVD,NAPERVILLE\r\nIL,60540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-12-17,WHOLEFDS NPV 10129 0NAPERVILLE IL,BRUCE LOMBARD,-91002.0,-90.91,0C2LHY492MF 6305797700\r\nWHOLEFDS NPV 10129 0...,WHOLEFDS NPV 10129 0NAPERVILLE IL,2607 WEST 75TH ST,NAPERVILLE\r\nIL,60540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(df.info())[:30]

<class 'pandas.core.frame.DataFrame'>
Index: 6900 entries, 0 to 6915
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6900 non-null   datetime64[ns]
 1   Description                   6900 non-null   object
 2   Card Member                   1452 non-null   object
 3   Account #                     1452 non-null   float64
 4   Amount                        6900 non-null   float64
 5   Extended Details              1452 non-null   object
 6   Appears On Your Statement As  1452 non-null   object
 7   Address                       1286 non-null   object
 8   City/State                    1284 non-null   object
 9   Zip Code                      1284 non-null   object
 10  Country                       1288 non-null   object
 11  Reference                     1452 non-null   object
 12  Category                      4864 non-null   object
 13  file_name                     6900 non-null   object
 14  Details                       1228 non-null   object
 15  Type                          4924 non-null   object
 16  Balance                       1228 non-null   float64
 17  Check or Slip #               28 non-null     float64
 18  Transaction                   524 non-null    object
 19  Memo                          524 non-null    object
 20  bank                          3450 non-null   object
 21  account_type                  3450 non-null   object
 22  account_number                3450 non-null   float64
 23  clean_description             3450 non-null   object
 24  month_name                    3450 non-null   object
 25  month                         3450 non-null   float64
 26  year                          3450 non-null   float64
 27  month_year                    3450 non-null   object
 28  is_recurring                  3450 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(20)
memory usage: 1.6+ MB
None

TypeError: 'NoneType' object is not subscriptable

In [3]:
df.Category.isnull().sum()

2036

In [8]:
new_cols = ['retailer']

df[new_cols] = pd.NA

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6900 entries, 0 to 6915
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6900 non-null   datetime64[ns]
 1   Description                   6900 non-null   object
 2   Card Member                   1452 non-null   object
 3   Account #                     1452 non-null   float64
 4   Amount                        6900 non-null   float64
 5   Extended Details              1452 non-null   object
 6   Appears On Your Statement As  1452 non-null   object
 7   Address                       1286 non-null   object
 8   City/State                    1284 non-null   object
 9   Zip Code                      1284 non-null   object
 10  Country                       1288 non-null   object
 11  Reference                     1452 non-null   object
 12  Category                      4864 non-null   object
 13  file_name                     6900 non-null   object
 14  Details                       1228 non-null   object
 15  Type                          4924 non-null   object
 16  Balance                       1228 non-null   float64
 17  Check or Slip #               28 non-null     float64
 18  Transaction                   524 non-null    object
 19  Memo                          524 non-null    object
 20  bank                          3450 non-null   object
 21  account_type                  3450 non-null   object
 22  account_number                3450 non-null   float64
 23  clean_description             3450 non-null   object
 24  month_name                    3450 non-null   object
 25  month                         3450 non-null   float64
 26  year                          3450 non-null   float64
 27  month_year                    3450 non-null   object
 28  is_recurring                  3450 non-null   float64
 29  retailer                      0 non-null      object
dtypes: datetime64[ns](1), float64(8), object(21)
memory usage: 1.6+ MB

In [11]:
df.isnull().sum()

Date                               0
Description                        0
Card Member                     5448
Account #                       5448
Amount                             0
Extended Details                5448
Appears On Your Statement As    5448
Address                         5614
City/State                      5616
Zip Code                        5616
Country                         5612
Reference                       5448
Category                        2036
file_name                          0
Details                         5672
Type                            1976
Balance                         5672
Check or Slip #                 6872
Transaction                     6376
Memo                            6376
bank                            3450
account_type                    3450
account_number                  3450
clean_description               3450
month_name                      3450
month                           3450
year                            3450
month_year                      3450
is_recurring                    3450
retailer                        6900
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6900 entries, 0 to 6915
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6900 non-null   datetime64[ns]
 1   Description                   6900 non-null   object
 2   Card Member                   1452 non-null   object
 3   Account #                     1452 non-null   float64
 4   Amount                        6900 non-null   float64
 5   Extended Details              1452 non-null   object
 6   Appears On Your Statement As  1452 non-null   object
 7   Address                       1286 non-null   object
 8   City/State                    1284 non-null   object
 9   Zip Code                      1284 non-null   object
 10  Country                       1288 non-null   object
 11  Reference                     1452 non-null   object
 12  Category                      4864 non-null   object
 13  file_name                     6900 non-null   object
 14  Details                       1228 non-null   object
 15  Type                          4924 non-null   object
 16  Balance                       1228 non-null   float64
 17  Check or Slip #               28 non-null     float64
 18  Transaction                   524 non-null    object
 19  Memo                          524 non-null    object
 20  bank                          3450 non-null   object
 21  account_type                  3450 non-null   object
 22  account_number                3450 non-null   float64
 23  clean_description             3450 non-null   object
 24  month_name                    3450 non-null   object
 25  month                         3450 non-null   float64
 26  year                          3450 non-null   float64
 27  month_year                    3450 non-null   object
 28  is_recurring                  3450 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(20)
memory usage: 1.6+ MB

In [3]:

def map_test(frame):

    temp_df = frame.copy()

    ## add any new columns to og_null_count that will be added by mappers so they get included in the final null count
    og_null_count = temp_df.copy()

    new_cols = ['retailer']

    og_null_count[new_cols] = pd.NA

    #Create a dateframe with the original null counts
    og_null_count = og_null_count.isnull().sum()
    og_null_count = og_null_count.to_frame('original_null_count')
    
    #All category mappers below
    temp_df = cat_mapper(temp_df, 'Description','Category')

    temp_df = retail_mapper(temp_df, 'Description','retailer')

    #Calculate new null counts and join to original nulls counts to compare

    new_null_count = temp_df.isnull().sum().to_frame('cleaned_null_count')
    null_count_df = og_null_count.merge(new_null_count, left_index=True, right_index=True)
    null_count_df['percent_null_count_difference'] =round((null_count_df['original_null_count']-null_count_df['cleaned_null_count'])/null_count_df['original_null_count'],2)
    null_count_df['percent_null_count_difference'] = null_count_df['percent_null_count_difference'].fillna(0.00)

    return null_count_df

In [4]:
map_test(df)

                              original_null_count
Date                                            0
Description                                     0
Card Member                                  5448
Account #                                    5448
Amount                                          0
Extended Details                             5448
Appears On Your Statement As                 5448
Address                                      5614
City/State                                   5616
Zip Code                                     5616
Country                                      5612
Reference                                    5448
Category                                     2036
file_name                                       0
Details                                      5672
Type                                         1976
Balance                                      5672
Check or Slip #                              6872
Transaction                                  6376
Memo                                         6376
bank                                         3450
account_type                                 3450
account_number                               3450
clean_description                            3450
month_name                                   3450
month                                        3450
year                                         3450
month_year                                   3450
is_recurring                                 3450
retailer                                     6900

,original_null_count,cleaned_null_count,percent_null_count_difference
Date,0,0,0.0
Description,0,0,0.0
Card Member,5448,5448,0.0
Account #,5448,5448,0.0
Amount,0,0,0.0
Extended Details,5448,5448,0.0
Appears On Your Statement As,5448,5448,0.0
Address,5614,5614,0.0
City/State,5616,5616,0.0
Zip Code,5616,5616,0.0
Country,5612,5612,0.0
Reference,5448,5448,0.0
Category,2036,1226,0.4
file_name,0,0,0.0
Details,5672,5672,0.0
Type,1976,1976,0.0
Balance,5672,5672,0.0
Check or Slip #,6872,6872,0.0
Transaction,6376,6376,0.0
Memo,6376,6376,0.0
bank,3450,3450,0.0
account_type,3450,3450,0.0
account_number,3450,3450,0.0
clean_description,3450,3450,0.0
month_name,3450,3450,0.0
month,3450,3450,0.0
year,3450,3450,0.0
month_year,3450,3450,0.0
is_recurring,3450,3450,0.0
retailer,6900,5528,0.2

In [28]:
# retail_mapper(df,'Description', 'retailer')

In [6]:

og_null_count = df.copy()
new_cols = ['retailer']

og_null_count[new_cols] = pd.NA

og_null_count = og_null_count.isnull().sum()
og_null_count = og_null_count.to_frame('original_null_count')

temp_df = retail_mapper(df, 'Description','retailer')

new_null_count = temp_df.isnull().sum().to_frame('cleaned_null_count')
null_count_df = og_null_count.merge(new_null_count, left_index=True, right_index=True)
null_count_df['percent_null_count_difference'] =round((null_count_df['original_null_count']-null_count_df['cleaned_null_count'])/null_count_df['original_null_count'],2)
null_count_df['percent_null_count_difference'] = null_count_df['percent_null_count_difference'].fillna(0.00)

null_count_df

,original_null_count,cleaned_null_count,percent_null_count_difference
Date,0,0,0.0
Description,0,0,0.0
Card Member,5448,5448,0.0
Account #,5448,5448,0.0
Amount,0,0,0.0
Extended Details,5448,5448,0.0
Appears On Your Statement As,5448,5448,0.0
Address,5614,5614,0.0
City/State,5616,5616,0.0
Zip Code,5616,5616,0.0
Country,5612,5612,0.0
Reference,5448,5448,0.0
Category,2036,2036,0.0
file_name,0,0,0.0
Details,5672,5672,0.0
Type,1976,1976,0.0
Balance,5672,5672,0.0
Check or Slip #,6872,6872,0.0
Transaction,6376,6376,0.0
Memo,6376,6376,0.0
bank,3450,3450,0.0
account_type,3450,3450,0.0
account_number,3450,3450,0.0
clean_description,3450,3450,0.0
month_name,3450,3450,0.0
month,3450,3450,0.0
year,3450,3450,0.0
month_year,3450,3450,0.0
is_recurring,3450,3450,0.0
retailer,6900,5528,0.2

In [5]:
map_test(df)

,original_null_count,cleaned_null_count,percent_null_count_difference
Date,0,0,0.0
Description,0,0,0.0
Card Member,5448,5448,0.0
Account #,5448,5448,0.0
Amount,0,0,0.0
Extended Details,5448,5448,0.0
Appears On Your Statement As,5448,5448,0.0
Address,5614,5614,0.0
City/State,5616,5616,0.0
Zip Code,5616,5616,0.0
Country,5612,5612,0.0
Reference,5448,5448,0.0
Category,2036,1226,0.4
file_name,0,0,0.0
Details,5672,5672,0.0
Type,1976,1976,0.0
Balance,5672,5672,0.0
Check or Slip #,6872,6872,0.0
Transaction,6376,6376,0.0
Memo,6376,6376,0.0
bank,3450,3450,0.0
account_type,3450,3450,0.0
account_number,3450,3450,0.0
clean_description,3450,3450,0.0
month_name,3450,3450,0.0
month,3450,3450,0.0
year,3450,3450,0.0
month_year,3450,3450,0.0
is_recurring,3450,3450,0.0