In [1]:
from file_combiner import transaction_compiler
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 40)

In [3]:
df = transaction_compiler()

In [7]:
df.head()

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,Country,Reference,Category,file_name,Details,Type,Balance,Check or Slip #,Transaction,Memo,bank,account_type,account_number,clean_description,month_name,month,year,month_year,is_recurring,not_nulls
0,2022-06-11,EXPRESS.COM,NaN,NaN,-36.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_4649_20220611_20240611,NaN,Sale,NaN,NaN,NaN,NaN,Chase,credit,4649.0,EXPRESS.COM,June,6.0,2022.0,Jun-2022,0.0,15
1,2022-06-11,CITY OF NAPERVILLE,NaN,NaN,-176.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bills & Utilities,Chase_credit_4649_20220611_20240611,NaN,Sale,NaN,NaN,NaN,NaN,Chase,credit,4649.0,CITY OF NAPERVILLE,June,6.0,2022.0,Jun-2022,0.0,15
2,2022-06-11,AMZN Mktp US*EX2KA54K3,NaN,NaN,-42.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_4434_20220611_20240611,NaN,Sale,NaN,NaN,NaN,NaN,Chase,credit,4434.0,AMZN Mktp US*EXKAK,June,6.0,2022.0,Jun-2022,0.0,15
3,2022-06-11,AMZN Mktp US*E93MN19E3,NaN,NaN,-53.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopping,Chase_credit_4434_20220611_20240611,NaN,Sale,NaN,NaN,NaN,NaN,Chase,credit,4434.0,AMZN Mktp US*EMNE,June,6.0,2022.0,Jun-2022,0.0,15
4,2022-06-11,worldmarket.com,NaN,NaN,-127.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Home,Chase_credit_3326_20220611_20240611,NaN,Sale,NaN,NaN,NaN,NaN,Chase,credit,3326.0,worldmarket.com,June,6.0,2022.0,Jun-2022,0.0,15